<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- favicon -->
    <link rel="shortcut icon" href="../icons/fingerprint.png" type="image/x-icon" />
    <!--  Main css  -->
    <link rel="stylesheet" href="../css/main.css" />
    <title>Profile page</title>
</head>
<body>
<!-- LOGOUT -->
<div class="logout-wrapper">
    <button id="logout-btn" onclick="logout()">logout</button>
</div>
<!-- HEADER -->
<div id="profile-section" class="d-flex jc-center mt-15">
     <h1 id="welcome-header" class="grey-color"></h1>
</div>
<!-- axios -->
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="../js/profile.js"></script>
</body>
</html>